[submodule "diffusion-net"]
	path = diffusion-net
	url = https://github.com/royvelich/deep-signature-2.git
[submodule "ChamferDistancePytorch"]
	path = ChamferDistancePytorch
	url = https://github.com/ThibaultGROUEIX/ChamferDistancePytorch
